.menu-container
  height: 100%
  display: flex
  flex-direction: column
  header
    position: relative
    height: 55px
    padding: 10px 15px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #ddd
    .left-tools
      width: 70px
      display: flex
      align-items: center
    h4
      flex: 1
      margin: 0 30px !important
      text-align: center
      overflow: hidden
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 1
  main
    flex: 1
    overflow: hidden
    display: flex
    position: relative
    button.new-note
      position: absolute
      right: 20px
      bottom: 20px

.side-menu
  transition: all 0.5s
  width: 300px
  height: 100%
  display: flex
  flex-direction: column
  border-right: 1px solid #eee
  background-color: #eee3
  .tag-list
    flex: 1
    overflow-y: auto
    overflow-x: hidden
    border: none
    & > div:first-of-type
      margin-top: 20px
    & > div:last-of-type
      margin-bottom: 20px
    & > div:not(:last-of-type)
      margin-bottom: 10px
  footer
    border-top: 1px solid #eee
    padding: 10px 15px 30px 15px
    overflow: hidden

.aside-drawer-title
  display: flex
  justify-content: space-between
  align-items: center
.aside-btn
  margin-right: 10px
.aside-drawer .side-menu
  background: #0000

@media screen and (max-width: 500px)
  button.large
    display: none
  main > .side-menu
    display: none

@media screen and (min-width: 500px)
  button.small
    display: none
  .aside-btn
    display: none
  .aside-drawer
    display: none

.tag-circle
  width: 12px
  height: 12px
  border-radius: 6px

.tag-item
  height: 3em
  padding: 0 10px
  margin: 0 20px
  display: flex
  align-items: center
  justify-content: space-between
  cursor: pointer
  border-radius: 10px
  transition-property: height, background
  transition-duration: 0.3s
  &.editing
    flex-direction: column
    height: 8em
    justify-content: space-evenly
    padding: 0 20px
    .buttons
      display: flex
      justify-content: space-between
      width: 100%
  &.curr
    background-color: #f1f0f5
  & > .tag-circle
    margin: 0 12px 0 7px
  #all-note-icon
    margin: 0 10px 0 7px
  .tag-name
    margin: 0 10px 0 0 !important
    flex: 1
    overflow: hidden
    text-overflow: ellipsis
  .tag-num
    margin-right: 10px
  .ant-input-group-addon
    padding: 0 5px !important
  .ant-select-arrow
    transform: scale(0.8)
  .ant-select-selection-item
    display: flex
    align-items: center

button.team-btn
  margin-right: 10px

.note-list
  flex: 1
  padding-bottom: 20px
  overflow: hidden auto
  .note-item
    border-bottom: 1px solid #eee
    height: 5em
    display: flex
    align-items: center
    padding: 0 1em
    margin-left: 20px
    cursor: pointer
    .thumbnail-wrapper
      width: 3em
      margin-right: 1em
      display: flex
      justify-content: center
      position: relative
      .thumbnail
        max-width: 3em
        max-height: 3.5em
        border: 1px solid #eee
        &:not(.loaded) + .cloud-icon
          display: none
      .cloud-icon
        position: absolute
        bottom: 0
        left: 0
        transform: scale(0.7)
        transform-origin: bottom left
    .note-name
      flex: 1
      margin: 0
      padding: 6px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      color: rgba(0, 0, 0, 0.85)
    .note-name-input
      padding-left: 5px
      flex: 1
      margin-right: 10px

.tag-select
  display: flex
  align-items: center
  .tag-circle, .none-tag-icon
    margin-right: 10px
