.menu-container
  height: 100%
  display: flex
  flex-direction: column
  header
    position: relative
    height: 55px
    padding: 10px 15px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #ddd
    .left-tools
      width: 70px
      display: flex
      align-items: center
    h4
      flex: 1
      margin: 0 30px !important
      text-align: center
      overflow: hidden
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 1
  main
    flex: 1
    overflow: hidden
    display: flex
    position: relative
    button.new-note
      position: absolute
      right: 20px
      bottom: 20px

#aside-checkbox, #aside-label
  display: none

.side-wrapper
  transition: all 0.5s
  width: 300px
  height: 100%
  display: flex
  flex-direction: column
  border-right: 1px solid #eee
  background-color: #eee3
  .side-menu
    flex: 1
    overflow-y: auto
    overflow-x: hidden
    border: none
    & > div:first-of-type
      margin-top: 20px
    & > div:last-of-type
      margin-bottom: 20px
    & > div:not(:last-of-type)
      margin-bottom: 10px
  footer
    border-top: 1px solid #eee
    padding: 10px 15px
    overflow: hidden

@media screen and (max-width: 500px)
  aside
    display: flex
    flex-direction: row-reverse
    position: absolute
    height: 100%
    background: white
    z-index: 1000
  .side-wrapper
    width: 0
    box-shadow: 10px 0px 20px 5px #0001
    overflow: hidden
  #aside-label
    display: unset
    cursor: pointer
    margin-right: 5px
    padding: 5px 10px
  #aside-checkbox:checked + .side-wrapper
    width: 200px
  button.large
    display: none
  button.small
    display: unset !important

.tag-circle
  width: 12px
  height: 12px
  border-radius: 6px

.menu-item
  height: 3em
  padding: 0 10px
  margin: 0 20px
  display: flex
  align-items: center
  justify-content: space-between
  cursor: pointer
  border-radius: 10px
  transition: all 0.3s
  &.editing
    flex-direction: column
    height: 8em
    justify-content: space-evenly
    padding: 0 20px
    .buttons
      display: flex
      justify-content: space-between
      width: 100%
  &.curr
    background-color: #f1f0f5
  & > .tag-circle
    margin: 0 12px 0 7px
  #all-note-icon
    margin: 0 10px 0 7px
  .tag-name
    margin: 0 10px 0 0 !important
    flex: 1
    overflow: hidden
    text-overflow: ellipsis
  .ant-input-group-addon
    padding: 0 5px !important
  .ant-select-arrow
    transform: scale(0.8)
  .ant-select-selection-item
    display: flex
    align-items: center

button.team-btn
  margin-right: 10px
button.small
  display: none

.note-list
  flex: 1
  padding-bottom: 20px
  overflow: hidden auto
  .list-item
    border-bottom: 1px solid #eee
    height: 5em
    display: flex
    align-items: center
    padding: 0 1em
    margin-left: 20px
    cursor: pointer
    .thumbnail-wrapper
      width: 3em
      margin-right: 1em
      display: flex
      justify-content: center
      position: relative
      .thumbnail
        max-width: 3em
        max-height: 3.5em
        border: 1px solid #eee
        &:not(.loaded) + .cloud-icon
          display: none
      .cloud-icon
        position: absolute
        bottom: 0
        left: 0
        transform: scale(0.7)
        transform-origin: bottom left
    .note-name
      flex: 1
      margin: 0
      padding: 6px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      color: rgba(0, 0, 0, 0.85)
    .note-name-input
      padding-left: 5px
      flex: 1

.tag-select
  display: flex
  align-items: center
  .tag-circle, .none-tag-icon
    margin-right: 10px
