.digit-input > input {
  border: none;
  background-color: #222;
  color: white;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  width: 0.8em;
  padding: 0;
  text-align: center;
  border-radius: 5px;
  /* outline: none; */
}

.digit-input > input:not(:last-of-type) {
  margin-right: 10px;
}

.digit-input {
  position: relative;
  width: fit-content;
}
.digit-input > .click-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
