@import ../_mixins

.swipe-wrapper
  position: relative
  transition: transform 0.3s
  transition-delay: 0.2s
  $button-width: 80px
  $icon-width: 40px
  &.deleting
    transition-property: transform, height
    transform: translateX(-$button-width)
    > .content
      pointer-events: none
  &.deleted
    height: 0 !important
    .button-wrapper
      left: $button-width
  > .content
    height: 100%
    overflow: hidden
  .button-wrapper
    @include absolute(0, -$button-width, 0, 100%)
    transition: left 0.3s ease-in
    overflow: hidden
    .button
      @include absolute-full
      background: #ff4d4f
      color: white
      display: flex
      align-items: center
      justify-content: center
  &.icon
    .button-wrapper
      @include absolute(0, -$icon-width, 0, 100%)
    &.deleting
      transform: translateX(-$icon-width)
    &.deleted
      .button-wrapper
        left: $icon-width
