@import ../../../sass/_mixins
@import ../../../sass/_var

.tool-options
  @include back-blur
  padding: 5px
  position: absolute
  box-shadow: $shadow-1
  border-radius: 50px
  border: $dark-border
  display: flex

.select-tool
  $tf: translate(-50%, -120%)
  left: min(calc(100% - 100px), max(var(--pos-x), 100px))
  top: min(calc(100%), max(var(--pos-y), 50px))
  transform: $tf
  transition-property: transform, opacity, visibility
  transition-duration: $fast-speed

  &[data-visible=false]
    transform: $tf scale(0)
    opacity: 0
    visibility: hidden
    .style-pop
      display: none

.text-wrapper
  position: absolute
  overflow: hidden
  left: var(--pos-x)
  top: var(--pos-y)
  max-width: calc(100% - var(--pos-x))
  max-height: calc(100% - var(--pos-y))
  textarea
    padding: 0
    transform: translateY(-0.1em)
    font-family: sans-serif
    font-size: 10em
    line-height: 1.2
    background-color: #0000
    border: none
    resize: none
    outline: none
.text-options
  position: absolute
  left: var(--pos-x)
  top: var(--pos-y)
  transform: translateY(-120%)

.font-color-drop
  width: 200px
  padding: 10px
  background-color: white
  border-radius: 5px

.raster-modal
  .ant-modal-confirm-content
    @include flex-center
    // override antd modal content margin
    margin: 20px 0 0 0 !important
  .raster
    max-height: 50vh
    max-width: 100%
    border: $default-border
