@import ../../../sass/_mixins
@import ../../../sass/_var

.select-tool
  $tf: translate(-50%, -120%)
  @include back-blur
  left: min(calc(100% - 100px), max(var(--pos-x), 100px))
  top: max(50px, var(--pos-y))
  position: absolute
  padding: 5px
  transform: $tf
  box-shadow: $shadow-1
  border-radius: 50px
  border: $dark-border
  display: flex
  > * + *
    margin-left: 5px

  &.enter
    transform: $tf scale(0)
    opacity: 0
    .style-pop
      display: none
  &.enter-active
    transform: $tf
    opacity: 1
    transition: transform $speed, opacity $speed
  &.exit
    transform: $tf
    opacity: 1
    .style-pop
      display: none
  &.exit-active
    transform: $tf scale(0)
    opacity: 0
    transition: transform $speed, opacity $speed

.insert-option
  margin: 15px 0
  > * + *
    margin-left: 10px

.font-color-drop
  width: 200px
  padding: 10px
  background-color: white
  border-radius: 5px

.raster-modal
  .ant-modal-confirm-content
    @include flex-center
    margin: 20px 10px 0 10px !important
  .raster
    max-height: 50vh
    max-width: 100%
    border: $default-border
