@import ../../../sass/_mixins
@import ../../../sass/_var

.tool-options
  @include back-blur
  padding: 5px
  box-shadow: $shadow-1
  border: $dark-border
  display: flex

.select-tool
  position: absolute
  $tf: translate(-50%, 20%)
  left: min(max(100px, var(--pos-x)), calc(100% - 100px))
  top: min(max(0px, var(--pos-y)), calc(100% - 50px))
  border-radius: 50px
  transform: $tf
  transition-property: transform, opacity, visibility
  transition-duration: $fast-speed

  &[data-visible=false]
    transform: $tf scale(0)
    opacity: 0
    visibility: hidden
    .style-pop
      display: none

.raster-modal
  .ant-modal-confirm-content
    @include flex-center
    // override antd modal content margin
    margin: 20px 0 0 0 !important
  .raster
    max-height: 50vh
    max-width: 100%
    border: $default-border

.text-tool
  --real-width: calc(var(--width) * var(--scale))
  --real-height: calc(var(--height) * var(--scale))
  .textarea-wrapper
    position: absolute
    left: var(--pos-x)
    top: var(--pos-y)
    width: var(--real-width)
    height: var(--real-height)
    transform: translate(-50%, -50%) rotate(var(--rotation))
    &::before
      @include pseudo-el
      z-index: -1
      outline: 2px dashed $blue-color
      outline-offset: 5px
    &:focus-within::before
      outline-style: solid
    &[data-empty=true]::before
      min-width: calc(4ch * var(--scale))

    textarea
      width: calc(var(--width) + 1em)
      min-width: 4ch
      height: calc(var(--height) + 0.2em)
      transform-origin: top left
      transform: scale(var(--scale)) translateY(var(--offset))
      font-weight: inherit
      font-style: inherit
      line-height: inherit
      color: #0000
      caret-color: var(--color)
      padding: 0
      border: none
      resize: none
      outline: none
      background: none
      user-select: auto

    &[data-slow=true]
      &::before
        background-color: #fff
        box-shadow: 0 0 0 5px #fff
      textarea
        color: var(--color)

  .text-options
    flex-direction: column
    border-radius: 10px
    position: absolute
    left: min(calc(100% - 180px), var(--pos-x))
    top: var(--pos-y)
    transform: translate(-7px, -120%)
    > .row
      display: flex
    > * + *
      margin-top: 10px
    .font-select
      margin-right: auto
    &[data-bottom=true]
      transform: translate(-7px, 20%)

.font-color-drop
  width: 200px
  padding: 10px
  background-color: white
  border-radius: 5px

.font-drop
  padding: 0
  border-radius: 10px
