@import ../../sass/_mixins

.draw-wrapper
  @include absolute
  &[data-readonly=true]
    pointer-events: none

  canvas.draw-canvas
    touch-action: pan-y
    position: absolute
    width: 100% !important
    height: 100% !important
    left: 0
    top: 0
