.select-tool
  position: fixed
  left: 50%
  padding: 5px
  transform: translateX(-50%)
  border-radius: 50px
  background: #fff
  border: 1px solid #ddd

@media screen and (max-width: 500px)
  .select-tool
    top: 120px

@media screen and (min-width: 500px)
  .select-tool
    top: 70px
