@import ../../../sass/_var

.reader.container
  nav
    padding: 10px 30px
    margin-left: $safe-left
    margin-right: $safe-right
    display: flex
    justify-content: space-between
    align-items: center
    .info
      flex: 1
      input.title
        padding-left: 0
        padding-top: 0
      p.time
        margin: 0
        color: #888
