.tool-bar
  position: sticky
  top: 0
  z-index: 100
  padding: 10px 15px
  background-color: #fffc
  backdrop-filter: saturate(180%) blur(20px)
  border-bottom: 1px solid #ddd
  display: flex
  align-items: center
  justify-content: space-between
  .redo-button
    margin-right: 2em

.pen-panel
  width: 200px

.team-popover
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  .user-list
    width: 100%
    .user-card
      display: flex
      width: 100%
      margin-bottom: 10px
      .avatar
        margin-right: 10px
      button
        margin-left: auto
