.reader.container
  header
    min-height: 55px
    padding: 10px
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #ddd
    & > div > button
      margin: 0 5px
      &.redo
        margin-right: 30px 

@media screen and (max-width: 500px)
  .reader.container
    .middle
      border-left: 1px solid #eee
      border-right: 1px solid #eee
      padding: 0 20px
    br
      display: block !important
      height: 10px
      content: ""

@media screen and (min-width: 500px)
  .reader.container br
    display: none

.pen-panel
  width: 200px
  .pen-status
    display: flex
    margin-bottom: 10px
    .ant-slider
      flex: 1
      margin-right: 10px 
  .color-select
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-items: center
    grid-auto-rows: 40px
    align-items: center
    input[type="radio"]
      display: none
      &:checked + .circle
        border-width: 6px
        background-color: white
    .circle
      cursor: pointer
      width: 30px
      height: 30px
      border-radius: 15px
      border: 15px solid
      transition: all 0.2s
      background-color: var(--circle-color)
      border-color: var(--circle-color)

        
.team-title
  display: flex
  justify-content: space-between
  align-items: center

.team-popover
  width: 200px
  display: flex
  flex-direction: column
  align-items: center
  .disconn-alert
    width: 232px
    transform: translateY(-12px)
  .copy-link
    width: 180px
    margin-top: 20px
  .user-list
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .user-item
      display: flex
      width: 180px
      margin-bottom: 10px
      align-items: center
      .avatar
        margin-right: 10px
      .user-name
        flex: 1
        overflow: hidden
        text-overflow: ellipsis
      .me-tag
        transform: translateX(4px)


.select-message
  .ant-message-notice-content
    padding: 5px
    border-radius: 100px
  .ant-btn-dangerous > .anticon
    color: #ff4d4f !important
  .anticon
    margin-right: 0