@import var
@import ../_var
@import ../_mixins

.preview-container
  display: flex
  flex-direction: column
  height: 100%
  .tabs
    .ant-tabs-nav
      margin: 0 20px
    .anticon
      margin: 0 15px
  .page-list
    flex: 1
    overflow: hidden auto
    padding: 0 25px
    & > div
    .page
      margin-top: 25px
      cursor: pointer
      position: relative
      border: $default-border
      &.curr
        border-color: $blue-color
        outline: 3px solid $blue-color
      &.drag
        box-shadow: 0 0 20px 10px #0002
      .bookmark
        position: absolute
        top: -10px
        right: 0
        height: 50px
        width: 40px
        cursor: pointer
        &::after
          @include pseudo-el(10px, 10px, 10px, 10px)
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%)
          background-color: #ddd
          transition: background 0.3s
        &.marked::after
          background-color: $blue-color
      @mixin page-corner
        position: absolute
        background-color: #444
        color: #fff
        padding: 0 .5em
      .index
        @include page-corner
        right: 0px
        bottom: 0px
        border-radius: 5px 0 0 0
      .option
        @include page-corner
        left: 0px
        bottom: 0px
        border-radius: 0 5px 0 0
        &:active
          opacity: 0.7
        &::after
          @include pseudo-el(-10px, -10px, -10px, -10px)
      .team-group
        position: absolute
        top: 5px
        left: 5px
        & > span
          box-sizing: content-box
          border-width: 3px
          .avatar-wrapper::before
            @include pseudo-el(-20px, -20px, -20px, -20px)
        &.chosen
          opacity: 0.5
          .preview-avatar:not(.chosen)
            filter: grayscale(0.8)
    .add-btn-wrapper
      margin: 25px 0

.ant-popover .preview-avatar
  box-sizing: content-box
  border-width: 3px
  border-style: solid

.preview-avatar.chosen
  border-color: $blue-color

.preview-drawer
  bottom: 0 !important
  height: unset !important
  .ant-drawer-content
    overflow: hidden

@media screen and (max-width: 640px)
  .preview-drawer
    top: $header-high-height

@media screen and (min-width: 640px)
  .preview-drawer
    top: $header-low-height