@import ../_var
@import ../_mixins

.preview-container
  display: flex
  flex-direction: column
  height: 100%
  .tabs
    .ant-tabs-nav
      margin: 0 20px
    .anticon
      margin: 0 15px
  .page-list
    flex: 1
    overflow: hidden auto
    padding: 0 25px $safe-bottom 25px
    scroll-padding-top: 30%
    .page
      margin-top: 25px
      cursor: pointer
      position: relative
      border: $default-border
      &[data-curr="true"]
        border-color: $blue-color
        box-shadow: 0 0 0 2px $blue-color
      &::before
        @include absolute-full
        z-index: -1
        box-shadow: 0 0 20px 10px #0002
        opacity: 0
        transition: opacity 0.5s
        content: ""
      &[data-dragged="true"]::before
        opacity: 1
      .bookmark
        position: absolute
        top: -10px
        right: 0
        height: 50px
        width: 40px
        cursor: pointer
        &::after
          @include pseudo-el(10px, 10px, 10px, 10px)
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%)
          background-color: #ddd
          transition: background $speed
        &[data-marked="true"]::after
          background-color: $blue-color
      @mixin page-corner
        position: absolute
        background-color: #444
        color: #fff
        padding: 0 .5em
      .index
        @include page-corner
        right: 0px
        bottom: 0px
        border-radius: 5px 0 0 0
      .option
        @include page-corner
        left: 0px
        bottom: 0px
        border-radius: 0 5px 0 0
        &::after
          @include pseudo-el(-10px, -10px, -10px, -10px)
      .team-group
        position: absolute
        top: 5px
        left: 5px
        .ant-avatar
          box-sizing: content-box
          border-width: 3px
        &.chosen
          opacity: 0.5
          .preview-avatar:not(.chosen)
            filter: grayscale(0.8)
    .add-btn-wrapper
      margin: 25px 0

.preview-avatar
  box-sizing: content-box
  border-width: 3px
  border-style: solid
  cursor: pointer
  &::before
    @include pseudo-el(-20px, -20px, -20px, -20px)
  &[data-chosen="true"]
    border-color: $blue-color

.preview-drawer
  bottom: 0 !important
  height: auto !important
  .ant-drawer-mask
    background-color: #0000
  .ant-drawer-content
    overflow: hidden

@media screen and (max-width: 640px)
  .preview-drawer
    top: $header-high-height

@media screen and (min-width: 640px)
  .preview-drawer
    top: $header-low-height