.page-img {
  width: 100%;
}

.img-placeholder{
  width: 100%;
}

.reader-wrapper {
  width: 100%;
  position: relative;
}

.pdf-page {
  position: relative;
}

.pdf-page:not(:last-child) {
  margin-bottom: 10px;
  box-shadow: 0px 10px #ddd;
}

.pdf-page > img {
  width: 100%;
}

.pdf-page:not(.loaded) {
  display: none;
}

.page-draw {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-draw > canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#tool-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 4em;
  padding: 1em;
  background-color: #fffc;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pen-panel {
  width: 200px;
}

#redo-button {
  margin-right: 2em;
}

#team-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.team-popover > p {
  margin-bottom: 0.5em;
}
