@import ../_var
@import ../_mixins

.reader.container
  main
    background-color: #fafafa
    padding-bottom: $safe-bottom
    .note-page
      outline: $default-border
      &:not(:first-of-type)
        margin-top: 10px
    .add-btn-wrapper
      padding: 15px
      &:first-child
        display: none

@media screen and (min-width: 640px)
  @supports not (-webkit-touch-callout: none)
    .reader.container
      border-right: $default-border

.note-page
  position: relative
  overflow: hidden
  .mask
    @include absolute

@media screen and (max-width: 640px)
  html
    scroll-padding-top: $header-high-height

@media screen and (min-width: 640px)
  html
    scroll-padding-top: $header-low-height

.add-btn-wrapper
  width: 100%
