.reader-container
  width: 100%
  min-height: 100%
  position: relative
  display: flex
  flex-direction: column
  .pdf-page
    position: relative
    img
      width: 100%
    .page-draw
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
    &:not(:last-of-type)
      margin-bottom: 10px
      box-shadow: 0px 10px #ddd
    &:not(.loaded)
      display: none
    &.loaded ~ .page-loading
      display: none
  .page-loading
    color: #333
    font-size: 50px
    margin: auto
