@import ../_var
@import ../_mixins

.reader.container
  width: 100vw
  height: 100%
  display: flex
  flex-direction: column
  main
    flex: 1
    overflow: hidden auto
    background-color: #fafafa
    .note-page
      border: $default-border
      &:not(:first-of-type)
        margin-top: 10px
    .add-btn-wrapper
      padding: 20px 30px 40px 30px
      &:first-child
        display: none

.note-page
  position: relative
  overflow: hidden
  .page-draw
    @include absolute-full
  .mask
    @include absolute-full

.add-btn-wrapper
  width: 100%
