@import ../../sass/_var
@import ../../sass/_mixins

.reader.container main
  padding-bottom: $safe-bottom
  .note-page
    outline: $default-border
    &:not(:first-of-type)
      margin-top: 10px
    @include for-phone
      scroll-margin-top: $header-high-height
    @include for-desktop
      scroll-margin-top: $header-low-height
  .add-btn-wrapper
    @include flex-center
    padding: 20px 0
    button
      max-width: calc(100vw - 50px)
    &:first-child
      display: none

body.reader
  background-color: #fafafa

.add-btn-wrapper
  width: 100%
