@import ../../_mixins
@import ../../_var

.reader.container header
  min-height: $header-low-height
  padding: 0 15px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: $dark-border
  & > div > button
    margin: 0 5px

@media screen and (max-width: 640px)
  .reader.container header
    height: $header-high-height
    .middle
      border-left: $default-border
      border-right: $default-border
      padding: 0 20px
    .br
      height: 10px

@media screen and (min-width: 640px)
  .reader.container
    .br
      display: none
    button.pen
      margin-left: 30px

.pen-panel
  min-width: 200px
  margin: 4px 0
  position: relative
  .color-select
    transition: filter 0.3s
  &::after
    @include pseudo-el(0, 0, 0, 0)
    visibility: hidden
    transition: visibility 0.3s
  &.blur
    .color-select
      filter: blur(5px) opacity(0.5)
    &::after
      visibility: visible
  .pen-status
    padding: 5px
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center
    .width-seg
      margin-right: 20px
      border-radius: 5px
      > *
        border-radius: 5px
      .ant-segmented-item
        display: flex
      .ant-segmented-item-label
        padding: 0
      .circle-wrapper
        min-width: 30px
        padding: 10px
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        .tag-circle
          width: var(--real-size)
          height: var(--real-size)
          border-radius: 50%
    .hi-btn
      $grey: rgba(0, 0, 0, 0.04)
      border: none
      box-shadow: 0 0 0 3px $grey, 0 2px 8px -2px rgb(0 0 0 / 5%), 0 1px 4px -1px rgb(0 0 0 / 7%), 0 0 1px 0 rgb(0 0 0 / 8%)
      &:not(.checked)
        background-color: $grey
        box-shadow: 0 0 0 3px $grey
        color: #999 !important
      
.ctrl-slider
  width: 200px
  .ant-slider-handle
    &::after
      @include pseudo-el(-20px, -20px, -20px, -20px)
      
.color-select
  display: grid
  grid-template-columns: repeat(4, 1fr)
  justify-items: center
  grid-auto-rows: 40px
  align-items: center
  input[type="radio"]
    display: none
    &:checked + .circle
      border-width: 6px
      background-color: white
  .circle
    cursor: pointer
    width: 30px
    height: 30px
    border-radius: 15px
    border: 15px solid
    background-color: var(--circle-color)
    border-color: var(--circle-color)
    transition: all 0.2s

.team-title
  display: flex
  justify-content: space-between
  align-items: center

.team-popover
  $pop-width: 200px
  width: $pop-width
  display: flex
  flex-direction: column
  align-items: center
  .disconn-alert
    width: $pop-width + 2 * 16px
    transform: translateY(-12px)
  .code-display
    pointer-events: none
  .share-btn
    width: 162px
    margin-top: 15px
    border-radius: 8px
  .user-list
    display: flex
    flex-direction: column
    max-height: 150px
    width: 100%
    overflow: auto
    padding: 0 10px
    margin-bottom: 10px
    .user-item
      display: flex
      align-items: center
      &:not(:last-of-type)
        margin-bottom: 10px
      &:not(.online)
        .room-avatar, .user-name
          opacity: 0.5
          filter: grayscale(0.5)
      .room-avatar
        margin-right: 10px
      .user-name
        @include text-overflow
        flex: 1
      .rename-input
        flex: 1
        margin-left: -6px
        input
          padding-left: 5px
