@mixin text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0)
  position: absolute
  top: $top
  right: $right
  bottom: $bottom
  left: $left

@mixin absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin pseudo-el($top: 0, $right: 0, $bottom: 0, $left: 0)
  position: absolute
  content: ""
  top: $top
  right: $right
  bottom: $bottom
  left: $left

@mixin back-blur
  background-color: #fffc
  backdrop-filter: blur(20px) saturate(180%)
  @supports not (backdrop-filter: none)
    background-color: #fff

@mixin for-phone
  @media (max-width: 640px)
    @content

@mixin for-desktop
  @media (min-width: 640px)
    @content
