@import "~antd/dist/antd.css"
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code, .code-font
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-thumb
  border-radius: 3px
  background: rgba(0,0,0,.2)

*:not(input)
  user-select: none

.ant-menu-item-danger:not(.ant-menu-item-disabled)
  color: #ff4d4f !important

.ant-menu
  border-right: none

#root
  height: 100%
  --blue-color: #1890ff
  --blue-color-light: #1890ff55

.container
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: white