@import "~antd/dist/antd.css"

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code, .code-font
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

#root
  height: 100%

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-thumb
  $bg-color: #d6d6d6
  background-clip: padding-box
  background-color: $bg-color
  border: 3px solid transparent
  border-radius: 20px
  &:hover
    background-color: darken($bg-color, 10%)

*:not(input)
  user-select: none

.ant-menu-item-danger:not(.ant-menu-item-disabled)
  color: #ff4d4f !important

.ant-menu
  border-right: none

.ant-input-group *
  box-shadow: none !important

@media screen and (min-width: 600px)
  .ant-message
    top: 60px

@media screen and (max-width: 600px)
  .ant-message
    top: 105px

.container
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: white
