@import "~antd/dist/antd.css"

@font-face
  font-family: "sofia"
  font-display: block
  src: url("./fonts/sofia.woff")

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code, .code-font
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

#root
  height: 100%

*:not(input)
  user-select: none
  scrollbar-width: thin

.ant-menu-item-danger:not(.ant-menu-item-disabled)
  color: #ff4d4f !important

.ant-menu
  border-right: none

.ant-input-group *
  box-shadow: none !important

.ant-popover-inner
  border-radius: 10px
  overflow: hidden

.ant-dropdown-menu
  border-radius: 10px
  overflow: hidden
  padding: 0

.ant-message-notice-content
  border-radius: 10px

@media screen and (min-width: 640px)
  .ant-message
    top: 60px
  ::-webkit-scrollbar
    width: 10px
    height: 10px
  ::-webkit-scrollbar-thumb
    $bg-color: #d6d6d6
    background-clip: padding-box
    background-color: $bg-color
    border: 3px solid #0000
    border-radius: 20px
    &:hover
      background-color: darken($bg-color, 10%)

@media screen and (max-width: 640px)
  .ant-message
    top: 105px

.container
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: white

h1.loading
  padding-top: 30px
  font-family: sofia, sans-serif
  text-align: center
  color: #0003
  animation: opacity-flash 2s infinite
.skeleton
  padding: 0 30px 30px 30px

@keyframes opacity-flash
  from
    opacity: 0.5
  50%
    opacity: 1
  to
    opacity: 0.5
